body, html {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  align-content: center;
}

#main-container {
  height: 100%;
}

div {

}

.body-div {
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}